In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import pingouin as pg
import matplotlib.pyplot as plt
import torch as tc
genders = ['female', 'male']
male = ['male']
female = ['female']

In [2]:
their_semantics = [
    'Subject',
    'Measuring station',
    'repetition no.',
    'Bust girth',
    'Waist girth',
    'Hip girth',
    'Thigh girth R',
    'Upper arm girth R',
    'Neck girth',
    'Back neck point to waist',
    'Height (m)',
]
our_semantic = [
    'subject',
    'measures_station',
    'repetition',
    'bust_chest_girth', # 5.3.4
    'waist_girth', # 5.3.10
    'hip_girth', # 5.3.13
    'thigh_girth', # 5.3.20
    'upper_arm_girth', # 5.3.16
    'neck_girth', # 5.3.2
    'neck_waist',
    'stature', # 5.1.1
]

station_list = ["MOVE4D", "Expert", "Our"]

measures = pd.read_pickle(f'data/move4d_cleaned_measures.zip')
measures = measures[their_semantics]
measures.columns = our_semantic
our_measures = pd.read_pickle("data/our_measures.zip")
measures = pd.concat([our_measures, measures]).drop(columns=["gender", "stature"])
measures = measures[measures['measures_station'].isin(["MOVE4D", "Expert measurer 1", "our"])]
measures.replace("Expert measurer 1", "Expert", inplace=True)
measures.replace("our", "Our", inplace=True)

,bust_chest_girth,waist_girth,hip_girth,thigh_girth,upper_arm_girth,neck_girth,neck_waist,repetition,measures_station,subject
0,890.102844,750.670166,1049.499756,628.432495,292.741119,325.192902,418.211090,1,Our,IEEEP2_01
1,895.189270,753.261353,1051.522095,625.345581,294.438354,326.743317,426.129272,2,Our,IEEEP2_01
2,903.245544,682.914734,947.787170,538.580383,274.551392,314.705322,417.136688,1,Our,IEEEP2_03
3,886.251953,664.944397,951.866211,537.981140,274.649323,316.283325,414.106720,2,Our,IEEEP2_03
4,1098.261108,981.130737,1141.172607,673.190918,343.884399,369.490021,431.907532,1,Our,IEEEP2_07
...,...,...,...,...,...,...,...,...,...,...
67,980.984009,757.277832,948.672546,577.736755,321.789185,368.718323,426.727905,2,Our,IEEEP2_67
68,1237.505981,1257.936035,1151.078735,671.114441,363.397705,440.467407,490.968323,1,Our,IEEEP2_70
69,1230.704834,1269.401123,1153.597290,665.347534,362.148895,440.307922,487.573822,2,Our,IEEEP2_70
70,951.453796,878.735229,990.817505,556.553284,318.288269,385.026276,443.301636,1,Our,IEEEP2_72
71,947.171753,874.708313,992.084106,558.912415,317.948883,386.241150,443.639954,2,Our,IEEEP2_72

In [32]:
numeric = ['hip_girth', 'thigh_girth']
data = measures[:144][measures[:144]['repetition'] == 1][numeric].to_numpy() - measures[:144][measures[:144]['repetition'] == 2][numeric].to_numpy()
data

array([[-2.02233887e+00,  3.08691406e+00],
       [-4.07904053e+00,  5.99243164e-01],
       [-2.85559082e+00,  7.12695312e+00],
       [-2.46118164e+00, -1.23181152e+00],
       [ 8.97705078e+00,  4.49865723e+00],
       [-2.14245605e+00, -4.39300537e+00],
       [-8.34484863e+00,  1.57250977e+00],
       [ 9.31396484e-02, -3.48901367e+00],
       [ 6.58203125e+00,  1.82006836e+00],
       [-5.08178711e-01,  8.05969238e-01],
       [ 7.40600586e-01,  3.31475830e+00],
       [ 5.74072266e+00,  3.03063965e+00],
       [ 1.78344727e-01,  1.36395264e+00],
       [-3.64245605e+00,  1.40563965e+00],
       [-7.66357422e-01,  4.21746826e+00],
       [ 7.05560303e+00,  1.89862061e+00],
       [ 7.93481445e+00,  1.04522705e+01],
       [ 5.48175049e+00,  9.48791504e-01],
       [ 1.17395020e+00,  2.31542969e+00],
       [-1.20202637e+00, -2.53338623e+00],
       [-8.90869141e-01,  6.28601074e-01],
       [-1.26263428e+00, -9.68872070e-01],
       [-2.05603027e+00,  2.70751953e+00],
       [-1.40185547e+00,  5.00085449e+00],
       [ 1.96032715e+00,  7.87353516e-03],
       [ 2.28881836e-01,  3.63525391e-01],
       [-3.92309570e+00,  2.12622070e+00],
       [ 7.97863770e+00,  4.83819580e+00],
       [ 5.08868408e+00,  1.56005859e+00],
       [-1.48583984e+00,  3.79248047e+00],
       [-5.02539062e+00,  4.11340332e+00],
       [ 5.23425293e+00, -4.93225098e-01],
       [ 1.52319336e+00,  1.30242920e+00],
       [-3.71527100e+00,  1.25616455e+00],
       [ 3.34033203e+00, -3.26953125e+00],
       [ 5.62207031e+00, -4.06896973e+00],
       [-3.68096924e+00,  1.25537109e+00],
       [-3.02685547e+00, -6.36114502e+00],
       [-6.44799805e+00, -2.30834961e-01],
       [-5.92712402e+00, -5.83117676e+00],
       [-5.08715820e+00,  2.38616943e+00],
       [ 4.65820312e+00, -3.37890625e+00],
       [-3.75598145e+00,  5.85839844e+00],
       [ 5.23376465e-01, -5.36285400e+00],
       [-1.04290771e+00, -3.02166748e+00],
       [ 1.79174805e+00,  6.66839600e+00],
       [-1.69409180e+00,  1.72863770e+00],
       [ 1.85253906e+00,  5.22033691e-01],
       [ 4.85095215e+00,  6.27252197e+00],
       [ 2.61645508e+00,  8.28735352e-01],
       [ 1.19532471e+01,  5.03918457e+00],
       [ 4.92834473e+00,  3.72741699e-01],
       [-3.13269043e+00, -3.29675293e+00],
       [ 7.02197266e+00, -1.10885010e+01],
       [-2.54895020e+00, -6.54498291e+00],
       [-2.77398682e+00, -2.66485596e+00],
       [ 9.23950195e-01, -3.53454590e-01],
       [-7.04235840e+00, -1.97161865e+00],
       [-1.05261230e+00, -3.84338379e-01],
       [ 1.42700195e+00,  3.82598877e+00],
       [ 9.67803955e+00,  6.39715576e+00],
       [ 5.07983398e+00,  1.40344238e+00],
       [ 2.64636230e+00, -2.18634033e+00],
       [-3.79980469e+00,  1.63159180e+00],
       [-4.66259766e+00, -1.69555664e-01],
       [ 2.86083984e+00, -5.99969482e+00],
       [ 3.08166504e-01, -3.32580566e-01],
       [ 5.92773438e+00, -2.23754883e+00],
       [ 4.15466309e+00,  2.85644531e-01],
       [-5.85937500e-01, -1.23693848e+00],
       [-2.51855469e+00,  5.76690674e+00],
       [-1.26660156e+00, -2.35913086e+00],
       [-2.56000000e+00,  5.03100000e+00],
       [ 0.00000000e+00, -5.00000000e+00],
       [-1.20000000e+00, -1.76500000e+00],
       [-5.00000000e+00, -1.00000000e+01],
       [ 1.50500000e+00,  1.15300000e+00],
       [ 0.00000000e+00,  0.00000000e+00],
       [-1.00300000e+01,  1.14800000e+00],
       [-1.00000000e+01, -1.50000000e+01],
       [-6.22000000e+00,  4.20000000e-01],
       [ 0.00000000e+00,  1.25000000e+01],
       [-3.79500000e+00, -5.50800000e+00],
       [-1.50000000e+01,  0.00000000e+00],
       [-4.41000000e+00,  1.09920000e+01],
       [ 1.50000000e+01, -5.00000000e+00],
       [ 1.47000000e+00, -3.43200000e+00],
       [-1.50000000e+01, -2.00000000e+01],
       [ 4.11000000e+00, -9.38200000e+00],
       [ 2.50000000e+01, -1.00000000e+01],
       [-8.90000000e-01, -3.05000000e+00],
       [-5.00000000e+00,  0.00000000e+00],
       [-2.17000000e+00, -1.91000000e+00],
       [ 1.00000000e+01, -2.00000000e+01],
       [ 4.63000000e+00, -2.78700000e+00],
       [ 7.50000000e+00,  5.00000000e+00],
       [ 1.59000000e+00, -4.56300000e+00],
       [-2.00000000e+01,  1.50000000e+01],
       [-2.98000000e+00,  9.22000000e-01],
       [ 1.50000000e+01, -1.00000000e+01],
       [-2.08900000e+00,  7.65000000e-01],
       [-1.00000000e+01, -1.00000000e+01],
       [ 1.34000000e+00,  1.85800000e+00],
       [ 5.00000000e+00,  1.50000000e+01],
       [ 2.70800000e+00,  1.54600000e+00],
       [-3.00000000e+01,  5.00000000e+00],
       [-2.57000000e+00, -2.86000000e+00],
       [-2.00000000e+01, -5.00000000e+00],
       [-9.40000000e-01,  2.80000000e-02],
       [-1.00000000e+01,  1.00000000e+01],
       [ 1.05400000e+00, -6.84000000e-01],
       [-5.00000000e+00,  0.00000000e+00],
       [ 6.43000000e+00, -5.39000000e-01],
       [-1.00000000e+01,  5.00000000e+00],
       [ 2.33000000e+00, -2.23000000e-01],
       [ 5.00000000e+00,  0.00000000e+00],
       [ 3.82300000e+00, -2.06300000e+00],
       [ 0.00000000e+00,  5.00000000e+00],
       [ 3.01000000e+00, -5.09200000e+00],
       [ 2.50000000e+01,  0.00000000e+00],
       [-4.00600000e+00,  2.88600000e+00],
       [ 2.00000000e+01,  1.00000000e+01],
       [ 9.50000000e-01,  2.63400000e+00],
       [ 1.50000000e+01, -5.00000000e+00],
       [-1.75300000e+00, -5.12500000e+00],
       [ 1.00000000e+01,  0.00000000e+00],
       [ 2.73000000e+00,  1.20300000e+00],
       [ 0.00000000e+00, -5.00000000e+00],
       [ 1.00000000e-01,  3.95800000e+00],
       [-1.00000000e+01,  1.00000000e+01],
       [-1.21000000e+00,  2.94200000e+00],
       [ 0.00000000e+00,  0.00000000e+00],
       [ 1.36000000e+00,  1.32000000e+00],
       [ 0.00000000e+00,  1.00000000e+01],
       [-1.33000000e+00,  3.83000000e-01],
       [ 5.00000000e+00, -1.75000000e+01],
       [-6.33000000e+00, -2.41300000e+00],
       [ 5.00000000e+00, -3.00000000e+01],
       [ 5.26000000e+00,  4.48300000e+00],
       [-1.00000000e+01, -1.00000000e+01],
       [-6.00000000e-01,  1.76600000e+00],
       [-1.00000000e+01, -5.00000000e+00],
       [ 4.75800000e+00, -1.86800000e+00],
       [-1.00000000e+01,  0.00000000e+00],
       [-8.43000000e+00,  2.58900000e+00],
       [ 1.00000000e+01,  5.00000000e+00],
       [-3.57000000e+00, -1.20500000e+00],
       [ 1.50000000e+01,  5.00000000e+00],
       [-3.21900000e+00, -5.53900000e+00],
       [ 5.00000000e+00, -1.00000000e+01],
       [-3.27900000e+00,  1.21230000e+01],
       [ 5.00000000e+00,  1.50000000e+01],
       [-1.05700000e+00,  1.28400000e+00],
       [-5.00000000e+00,  1.00000000e+01],
       [-5.40000000e+00, -1.51300000e+00],
       [-1.50000000e+01,  5.00000000e+00],
       [-1.77000000e+00, -1.41900000e+00],
       [-1.00000000e+01, -5.00000000e+00],
       [ 5.51400000e+00,  1.27600000e+00],
       [ 5.00000000e+00, -1.00000000e+01],
       [ 9.95000000e-01,  1.21900000e+00],
       [-1.50000000e+01,  5.00000000e+00],
       [-3.10000000e-01,  3.64000000e-01],
       [ 5.00000000e+00, -5.00000000e+00],
       [ 6.60000000e-01,  1.78700000e+00],
       [-1.00000000e+01,  5.00000000e+00],
       [ 1.02000000e+00, -2.98000000e-01],
       [-2.50000000e+01, -1.50000000e+01],
       [ 2.15100000e+00,  6.95000000e-01],
       [-5.00000000e+00,  0.00000000e+00],
       [-3.30000000e+00,  4.05500000e+00],
       [-1.00000000e+01,  1.25000000e+01],
       [ 9.60000000e-01, -9.53000000e+00],
       [-5.00000000e+00, -1.50000000e+01],
       [ 2.05900000e+00,  2.23700000e+00],
       [ 0.00000000e+00,  5.00000000e+00],
       [-1.45000000e+00, -1.10300000e+00],
       [-1.00000000e+01,  0.00000000e+00],
       [-1.20000000e-01,  6.53300000e+00],
       [-1.00000000e+01, -5.00000000e+00],
       [ 9.04000000e+00,  5.44500000e+00],
       [-1.00000000e+01, -1.50000000e+01],
       [ 1.91000000e-01,  1.58300000e+00],
       [ 5.00000000e+00,  0.00000000e+00],
       [ 6.09700000e+00, -2.03000000e+00],
       [ 1.00000000e+01,  1.50000000e+01],
       [-3.49600000e+00,  7.29000000e-01],
       [ 0.00000000e+00, -5.00000000e+00],
       [ 8.00000000e+00,  2.49000000e-01],
       [ 0.00000000e+00, -1.00000000e+01],
       [ 1.00000000e-01,  9.87000000e-01],
       [ 2.00000000e+01, -5.00000000e+00],
       [-3.07600000e+00, -1.13800000e+00],
       [-5.00000000e+00, -5.00000000e+00],
       [ 6.01700000e+00, -2.90000000e-02],
       [-1.00000000e+01,  5.00000000e+00],
       [ 3.64000000e+00,  2.81400000e+00],
       [-2.00000000e+01,  5.00000000e+00],
       [ 7.39000000e+00, -2.29000000e-01],
       [ 0.00000000e+00,  0.00000000e+00],
       [ 9.30000000e-01,  1.09500000e+00],
       [ 0.00000000e+00, -5.00000000e+00],
       [ 7.58000000e+00,  1.34200000e+00],
       [ 0.00000000e+00,  5.00000000e+00],
       [-3.13500000e+00,  1.32300000e+00],
       [-1.00000000e+01,  5.00000000e+00],
       [-5.67900000e+00,  3.32200000e+00],
       [ 2.50000000e+00, -1.00000000e+01],
       [ 2.24000000e+00,  7.91400000e+00],
       [-5.00000000e+00, -2.00000000e+01],
       [-2.80000000e-01,  3.03800000e+00],
       [ 1.00000000e+01, -1.50000000e+01],
       [ 1.03000000e+00,  1.62700000e+00],
       [-5.00000000e+00,  1.75000000e+01],
       [-4.49800000e+00, -8.38000000e-01],
       [ 0.00000000e+00, -5.00000000e+00]])

# CALC ICC

In [4]:
all_measures = []
for station in station_list:
    measures_of_station = []
    for measure in our_semantic[3:-1]:
        a = measures[measures['measures_station'] == station][['subject', 'repetition', measure]]
        icc = pg.intraclass_corr(data=a, targets='subject', raters='repetition', ratings=measure)['ICC'].loc[2]
        measures_of_station.append(icc)
    all_measures.append(measures_of_station)
our_icc = pd.DataFrame(all_measures, station_list, our_semantic[3:-1]).sort_index()

In [5]:
a = measures[measures['measures_station'] == station][['subject', 'repetition', measure]]
icc = pg.intraclass_corr(data=a, targets='subject', raters='repetition', ratings=measure, nan_policy='omit')
icc

,Type,Description,ICC,F,df1,df2,pval,CI95%
0,ICC1,Single raters absolute,0.973184,73.583120,71,72,6.212652e-48,"[0.96, 0.98]"
1,ICC2,Single random raters,0.973191,75.032571,71,71,1.198188e-47,"[0.96, 0.98]"
2,ICC3,Single fixed raters,0.973695,75.032571,71,71,1.198188e-47,"[0.96, 0.98]"
3,ICC1k,Average raters absolute,0.986410,73.583120,71,72,6.212652e-48,"[0.98, 0.99]"
4,ICC2k,Average random raters,0.986413,75.032571,71,71,1.198188e-47,"[0.98, 0.99]"
5,ICC3k,Average fixed raters,0.986672,75.032571,71,71,1.198188e-47,"[0.98, 0.99]"

In [6]:
our_icc.index = ['Expert', "MOVE4D", 'Our']
our_icc

,bust_chest_girth,waist_girth,hip_girth,thigh_girth,upper_arm_girth,neck_girth,neck_waist
Expert,0.984964,0.995512,0.993420,0.985788,0.899936,0.980211,0.908226
MOVE4D,0.994299,0.997657,0.999204,0.998120,0.995792,0.995974,0.973715
Our,0.996868,0.998141,0.998908,0.998231,0.994649,0.995912,0.973695

# CALC SEM

In [7]:
all_measures = []
for station in station_list:
    measures_of_station = []
    for measure in our_semantic[3:-1]:
        a = measures[measures['measures_station'] == station][['subject', 'repetition', measure]]
        icc = pg.intraclass_corr(data=a, targets='subject', raters='repetition', ratings=measure, nan_policy='omit')['ICC'].loc[2]
        sem = a[measure].std() * np.sqrt(1-icc)
        measures_of_station.append(sem)
    all_measures.append(measures_of_station)
our_sem = pd.DataFrame(all_measures, station_list, our_semantic[3:-1]).sort_index()

In [8]:
our_sem.index = ['Expert', "MOVE4D", 'Our']
our_sem.T.round(4)

                   Expert  MOVE4D     Our
bust_chest_girth  12.3293  7.9139  5.6561
waist_girth        8.5865  6.4644  5.8106
hip_girth          7.9206  2.7550  3.0873
thigh_girth        6.9722  2.5773  2.6495
upper_arm_girth   12.6139  2.4972  2.5938
neck_girth         4.8045  2.3456  2.3739
neck_waist         9.4215  4.8049  3.7130

# CALC PSD

In [9]:
def calculate_psd(measure):
    data = measures
    f1 = data['repetition'] == 1
    f2 = data['repetition'] == 2
    data = data[ f1 | f2 ][['subject', 'measures_station', 'repetition', measure]]
    data = data.pivot_table(values=measure, index=['subject', 'repetition'], columns="measures_station")
    data = data.dropna()
    

    column_wise = []
    for column1 in data.columns:
        row_wise = []
        for column2 in data.columns:
            if column1 == column2:
                row_wise.append(np.nan)
            else:
                d1 = data[column1]
                d2 = data[column2]
                var = (d1-d2).var()
                sem1 = our_sem[measure].loc[column1]**2
                sem2 = our_sem[measure].loc[column2]**2
                value = np.sqrt(var + (sem1/2) + (sem2/2))
                row_wise.append(value)
        column_wise.append(row_wise)
    data = pd.DataFrame(column_wise, index=data.columns, columns=data.columns)
    data.index.name = None
    return data

In [10]:
neck_result = calculate_psd(measure='neck_girth')
MX = pd.Series({"MOVE/Expert": neck_result.loc["MOVE4D"]["Expert"]})
neck_result = neck_result.loc['Our'][:-1].append(MX)

In [11]:
bust_result = calculate_psd(measure='bust_chest_girth')
MX = pd.Series({"MOVE/Expert": bust_result.loc["MOVE4D"]["Expert"]})
bust_result = bust_result.loc['Our'][:-1].append(MX)

In [12]:
waist_result = calculate_psd(measure='waist_girth')
MX = pd.Series({"MOVE/Expert": waist_result.loc["MOVE4D"]["Expert"]})
waist_result = waist_result.loc['Our'][:-1].append(MX)

In [13]:
hip_result = calculate_psd(measure='hip_girth')
MX = pd.Series({"MOVE/Expert": hip_result.loc["MOVE4D"]["Expert"]})
hip_result = hip_result.loc['Our'][:-1].append(MX)

In [14]:
arm_result = calculate_psd(measure='upper_arm_girth')
MX = pd.Series({"MOVE/Expert": arm_result.loc["MOVE4D"]["Expert"]})
arm_result = arm_result.loc['Our'][:-1].append(MX)

In [15]:
thigh_result = calculate_psd(measure='thigh_girth')
MX = pd.Series({"MOVE/Expert": thigh_result.loc["MOVE4D"]["Expert"]})
thigh_result = thigh_result.loc['Our'][:-1].append(MX)

In [16]:
neck_waist_result = calculate_psd(measure='neck_waist')
MX = pd.Series({"MOVE/Expert": neck_waist_result.loc["MOVE4D"]["Expert"]})
neck_waist_result = neck_waist_result.loc['Our'][:-1].append(MX)

In [17]:
def calculate_mad():
    all_measures = []
    for station in station_list:
        measures_of_station = []
        a = measures[measures['measures_station'] == station]
        f1 = a['repetition'] == 1
        f2 = a['repetition'] == 2
        for measure in our_semantic[3:-1]:
            mean = np.nanmean(abs(a[f1][measure].to_numpy() - a[f2][measure].to_numpy()))
            measures_of_station.append(mean)
        all_measures.append(measures_of_station)
    return pd.DataFrame(all_measures, columns=our_semantic[3:-1], index=['MOVE4D','Expert','Our']).T

In [18]:
styles = [dict(selector="caption",
                       props=[("text-align", "center"),
                              ("font-size", "125%"),
                              ("color", 'black'),
                              ("font-weight", '700')])]

In [19]:
mad_table = calculate_mad()
mad_table = mad_table.style.set_caption("OUR vs MOVE4D MAD statistic result").set_table_styles(styles)
mad_table.format(precision=4)

In [20]:
sem_table = our_sem.T.round(4)
sem_table = sem_table.style.set_caption("OUR vs MOVE4D SEM statistic result").set_table_styles(styles)
sem_table.format(precision=4)

In [21]:
data_psd = pd.DataFrame(
    [neck_result, bust_result, waist_result, hip_result, arm_result,thigh_result, neck_waist_result],
    index=our_semantic[3:-1]).round(2)
data_psd.columns = ['Our vs Expert', "Our vs MOVE4D", 'MOVE vs Expert']
data_psd.to_csv("output/our_psd.csv")
data_psd = data_psd.style.set_caption("OUR vs MOVE4D PSD statistic result").set_table_styles(styles)
data_psd.format(precision=2)